<h1>POST Request Received</h1>
<h3>URL input data</h3>
<ul>
	{{#each urlInput}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>
<h3>Body input data</h3>
<ul>
	{{#each bodyInput}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>